:root{
    --color1: #03073a;
    --color2:#1c204a;
}


body{
    background-color: var(--color1);
    display: flex;
    justify-content: center;
}

aside{
    margin-top: 4rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
    height: 50%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


aside main.blocks{
    background-color: aliceblue;
    width: 14rem;
    height: 6rem ;
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 0.4rem;
    text-align: center;
    box-shadow: 3px 3px 1px rgba(255, 255, 255, 0.142) ;
}
article{
    display: flex;
    margin: 2rem;
    /*background-color: rgb(255, 255, 255);*/
   width: 90%;
    justify-content: space-around;
    
}

article main.blockest{
    background-color: aliceblue;
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 1px rgba(255, 255, 255, 0.142) ;
}