
:root{
    --color1: #03073a;
    --color2:#1c204a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
img{
    max-width: 80px ;
    margin-right: 0.4rem;
}
nav {
    background-color: var(--color2);
    padding: 10px 0;
    text-align: center;
   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0.4rem;
}


nav ul li {
    display: inline;
    margin-right: 60px;
    font-size: 1.2rem;
  
}
nav ul li:hover{
    font-size: 1.4rem;
    }
nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
}

section h2{
    font-size: 2.4rem;
}

main{
    display: flex;
    justify-content: center;
}

main p{
    max-width: 400px;
    font-size: 1.8rem;
}

main img{
    max-width: 10rem;
}

article{
    background-color: var(--color1);
    max-width: 60%;
    margin: auto;
    border-radius: 1rem;
    margin-top: 6rem;
}

article h2{
    padding: 1rem;
    color: white;
}

article p{
    color: white;
    font-size: 1.4rem;
    padding: 1rem;
}

article img{
    max-width: 30px;
   
}
