header {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #03073a;
    margin: 0;
    color: #fff;
}

.container {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
}

.search-container {
    width: 80%;
    
}

#search {
    padding: 10px 10px;
    font-size: 16px;
    width: 95%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

#search:focus {
    background: rgba(255, 255, 255, 0.3);
}

.search-container .fas {
    transform: translateY(-50%);
    color: #aaa;

}

#add-product {
    padding: 10px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    border-color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(13, 103, 187, 0.5);
}

#add-product:hover {
    background-color: #0056b3;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    text-align: left;
}

.product-table th {
    background: rgba(255, 255, 255, 0.2);
    
}

.product-table tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
}

.edit, .delete {
    padding: 8px 16px;
    margin: 0 2px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit {
    background-color: #17a2b8;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.edit:hover {
    background-color: #138496;
}

.delete {
    background-color: #dc3545;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.delete:hover {
    background-color: #c82333;
}

a {
    color: #fff;
    text-decoration: none;
}